<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin</h1>
    <p>
      Total Users : <%= @users.length %>
    </p>
    <p>
      Total Playlists : <%= @playlists.length %>
    </p>
  </body>
</html>
